{% extends "base.html" %}
{% block head  %}
	<title> questions </title>
	<link rel="stylesheet" href="/css/questions.css">
{% endblock %}
{% block main %}
	<center>
	<section >
		<ul class = "questions">
			{% for q in questions %}
			<li>
				<a href = "/question/{{q.id}}"> {{ q.title }} </a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<nav class = "pages">
		<ul>
			{% for p in paginator.page_range %}
			{% if p == page.number %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{paginator.baseurl}}{{p}}">{{p}} </a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	</center>
{% endblock %}
